@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #131520;
    --background: #e7e9f3;
    --primary: #29356b;
    --secondary: #7d8cd9;
    --accent: #263cab;
  }
  .dark {
    --text: #dfe1ec;
    --background: #0c0e18;
    --primary: #94a0d6;
    --secondary: #263582;
    --accent: #546ad9;
  }
}

body {
  color: var(--text);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
